* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 80%;
}

.email-form button {
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}

.email-text {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}
