* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 80%;
}

.email-form button {
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.email-text {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cancel-button {
    background-color: #F78181;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 20px;
}

.confirm-button {
    background-color: #81BEF7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}