* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.product-list {
    width: 66.66%;
    flex: 3;
    background-color: bisque;
    border-radius: 15px;
    padding: 20px 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.order-list {
    width: 33.33%;
    flex: 2;
    flex-direction: row;
    border-radius: 15px;
    background-color: green;
    padding: 20px 10px;
    margin: 20px;
    gap: 20px;
    overflow: hidden;
}

.product-details {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.product-img {
    width: 35%;
    max-width: 150px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 10px;
}

.quantity-control {
    display: flex;
    align-items:flex-end;
    gap: 10px;
}

.quantity-input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    align-items:flex-end;
}

.decrease-button, .increase-button {
    background-color: brown;
    color: white;
    border-radius: 10%;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}
